<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CadastroProduto"
        tools:targetApi="31">

        <activity
            android:name=".view.CadastroProdutoActivity"
            android:label="Cadastro de Produto"
            android:theme="@style/Theme.CadastroProduto"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Adicionando a ExibirProdutosActivity aqui -->
        <activity
            android:name=".view.ExibirProdutosActivity"
            android:label="Exibir Produtos"
            android:exported="true" />

    </application>

</manifest>
